{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block title_block %}
	Sell your car today!
{% endblock %}

{% block sidebar_block %}
{% endblock %}

{% block body_block %}
	<div class="container1">
		<div class="row">
			<div class="form-group" >
				<form role="form" method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
					{% for field in form %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field.label_tag }} {{ field }}
							{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block sidebar_block2 %}
{% endblock %}