{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
<div class="containerhead">
	<h1 class="jumbotron-heading">
	{% if car %}
	
		{{ car.price }}
		{{ car.slug }}
		{{ car }}
	{% else %}
		The chosen car does not exist
	{% endif %}
</h1>
	</div>
{% endblock %}

{% block sidebar_block %}
	{% if car %}
	<div>
		<ul><h5>BRAND: </h5>{{ car.brand }}</ul>
		<ul><h5>MODEL: </h5>{{ car.model }}</ul>
		<ul><h5>YEAR OF MANUFACTURE: </h5>{{ car.year }}</ul>
		<ul><h5>PRICE: </h5>{{ car.price }}</ul>
		<ul><h5>IS THIS CAR NEW? </h5>{{ car.is_new }}</ul>
		<ul><h5>OTHER INFORMATION: </h5>{{ car.other }}</ul>
		
	<div>
	{% else %}
		Could not receive technical information about non-existing car
	{% endif %}
{% endblock %}
							
{% block body_block %}
	<div>
		pic not working
		<img src="{% static 'media/car_pictures/{{ car.picture }}' %}"
		alt="{{ car.name }}"  width="2000" height="675"/>
	</div>
	<div>
		SELLER:
		<a class="nav-link active" href="{% url 'rango:show_seller' car.seller %}">
			<span data-feather="archive"></span>	{{ car.seller }}
		</a>
	</div>
{% endblock %}


{% block sidebar_block2 %}
	{% if user.is_authenticated %}
		{% if car %}
		Enquire about this vehicle:
		<ul class="nav-item"><a class="nav-link" href="{% url 'rango:enquire' %}">Enquire</a></ul>                 
		{% else %}
		There is no car to enquire about        
		{% endif %}
	{% else %}
		<a class="nav-link" href="{% url 'registration_register' %}">Register</a> to enquire about this vehicle.
                        
		Already have an account? <a class="nav-link" href="{% url 'auth_login' %}">Log in</a>.
                         
	{% endif %}
{% endblock %}