{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if car %}
	
		{{ car.name }}
	{% else %}
		The chosen car does not exist
	{% endif %}
{% endblock %}

{% block sidebar_block %}
	{% if car %}
	<center>
	<div>
	<ul><h5>
		{% if car.is_new%}
			THIS CAR IS BRAND NEW! 
		{% else %}
			THIS IS A RESALE CAR IN GREAT CONDITION!
		{% endif %}</h5></ul>
		<ul><h5>BRAND: </h5>{{ car.brand }}</ul>
		<ul><h5>MODEL: </h5>{{ car.model }}</ul>
		<ul><h5>YEAR OF MANUFACTURE: </h5>{{ car.year }}</ul>
		<ul><h5>PRICE: </h5>{{ car.price }}</ul>
		<ul><h5>OTHER INFORMATION: </h5>{{ car.other }}</ul>
		<ul><h5>OTHER INFORMATION: </h5>{{ car.other }}</ul>
		
	<div>
	</center>
	{% else %}
		Could not receive technical information about non-existing car
	{% endif %}
{% endblock %}
							
{% block body_block %}
	<div>
		<img src="{{ MEDIA_URL }}{{ car.picture }}"
		alt="{{ car.name }}"  width="2000" height="675"/>
	</div>
	<div>
		{% if car.seller %}
			SELLER:
			<a class="nav-link active" href="{% url 'rango:show_seller' car.seller %}">
				<span data-feather="archive"></span>	{{ car.seller }}
			</a>
		{% else %}
			THIS CAR IS CURRENTLY UNAVAILABLE
		{% endif %}
	</div>
{% endblock %}


{% block sidebar_block2 %}
	{% if user.is_authenticated %}
		{% if car %}
		Enquire about this vehicle:
		<ul class="nav-item"><a class="nav-link" href="{% url 'rango:enquire' %}">Enquire</a></ul>                 
		{% else %}
		There is no car to enquire about        
		{% endif %}
	{% else %}
		<a class="nav-link" href="{% url 'registration_register' %}">Register</a> to enquire about this vehicle.
                        
		Already have an account? <a class="nav-link" href="{% url 'auth_login' %}">Log in</a>.
                         
	{% endif %}
{% endblock %}