<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <title>
        Buy A Car - The best site to look when getting a car!
    </title>
    
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <div>
		
	</div>
	<center>
	<div class="topdiv col-md-12 border">
	<span>	
		<input type="text" placeholder="Search..">		
	</span>
		<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" align="left"/>
		
	</div>
	</center>
    </head>
    
    <body>
        <header>
			<center>
            <nav class="navbar navbar-center navbar-expand-md navbar-dark ">
                <a class="navbar-brand p-2" href="{% url 'rango:home' %}">BuyACar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-center  mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:buying' %}">Buying</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'rango:about' %}">Selling</a></li>
                        {% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Profile
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							  <a class="dropdown-item" href="{% url 'rango:add_category' %}">View profile</a>
							  <a class="dropdown-item" href="{% url 'auth_password_change' %}">Change Password</a>
							  <a class="dropdown-item" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
							</div>
						</li>
                        <li class="nav-item"></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Log in</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'registration_register' %}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
			</center>
        </header>
		
{% block body_block %}
	<div class="jumbotron p-3">
		<div class="container">
			<h1 class="jumbotron-heading">Rango says...</h1>
			<div>
				<h2 class="h2">
				{% if user.is_authenticated %}
					howdy {{ user.username }}!
				{% else %}
					hey there partner!
				{% endif %}
				</h2>
				<strong>{{ boldmessage }}</strong>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>Most Liked Categories</h2>
						<p class="card-text">
						{% if categories %}
						<ul>
						{% for category in categories %}
							<li>
							<a href="{% url 'rango:show_category' category.slug %}">
							{{ category.name }}</a>
							</li>
						{% endfor %}
						</ul>
						{% else %}
						<strong>There are no categories present.</strong>
						{% endif %}
						</p>
					</div>
				</div>
			</div>
		
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>Most Viewed Pages</h2>
						<p class="card-text">
						{% if pages %}
						<ul>
						{% for page in pages %}
							<li>
							<a href="{{ page.url }}">{{ page.title }}</a>
							</li>
						{% endfor %}
						</ul>
						{% else %}
						<strong>There are no pages present.</strong>
						{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		</br>
		<img src="{% static 'images/rango.jpg' %}"
		alt="Picture of Rango"  width="1150" height="675"/>
	</div>
{% endblock %}

    </body>
</html>