<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <title>
        Buy A Car - The best site to look when getting a car!
    </title>
    
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <div>
		
	</div>
	<center>
	<div class="topdiv col-md-12">
	<span>
        <form id="search_form" method="post" action="{% url 'rango:search' %}">
            {% csrf_token %}
            <input type="text" name="search_box" placeholder="Search..">
            <p><input type="checkbox" name="new_car" value="True" checked="checked" />New Car</p>
            <button type="submit" class="btn btn-primary">search</button>
        </form>
	</span>
		<img src="{% static 'images/car.png' %}" alt="Logo" align="left"/>
		
	</div>
	</center>
    </head>
    
    <body>
        <header>
			<center>
            <nav class="navbar navbar-center navbar-expand-md navbar-dark ">
                <a class="navbar-brand p-2" href="{% url 'rango:index' %}">BuyACar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-center  mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:sellers' %}">Buying</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'rango:add_car' user.get_username %}">Selling</a></li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Profile
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							  <a class="dropdown-item" href="{% url 'rango:about' %}">View profile</a>
							  <a class="dropdown-item" href="{% url 'auth_password_change' %}">Change Password</a>
							  <a class="dropdown-item" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
							</div>
						</li>
                        <li class="nav-item"></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Log in</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'registration_register' %}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
			</center>
        </header>
		
		 <div class="container ">
			<div class="containerhead">
				<div class="col-md-12">
				<center>
					<div class="containerhead">
						<h1 class="jumbotron-heading">Welcome!</h1>
					</div>
				</center>
				</div>
			</div>
		
		
			SLIDESHOW 2x
			</div>
		</div>
 <!-- FOOTER -->
            <footer>
				<center>
                    <p class="float-right"><a href="#">Back to top</a></p>
                        <p>&copy; 2021 BuyACar &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                </center>
			</footer>
					<!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
    
    </body>
</html>